If:
    PathMatch: .*

CompileFlags:
    CompilationDatabase: build
    Add:
        - -Wall
        - -std=c++17
    Compiler: clang++
Completion:
    HeaderInsertion: never
InlayHints:
    BlockEnd: false
    Designators: true
    Enabled: true
    ParameterNames: true
    DeducedTypes: true
    DefaultArguments: false
    TypeNameLimit: 24
